.carouselWrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 230px;

  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

.carouselImage {
  flex-shrink: 0;

  height: 230px;

  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.carouselButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.carouselButton {
  padding: 6px 12px;
  background-color: #198754;
  color: white;
  border: none;
  width: 90px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.carouselButton:hover {
  background-color: #074e2d;
}

/* 
.carouselWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 230px;
  overflow: hidden;
  margin: auto;
}

.carouselContent {
  display: flex;
  flex-direction: column;
  animation: scrollUp 20s linear infinite;
}

.carouselWrapper:hover .carouselContent {
  animation-play-state: paused;
}

.carouselImage {
  flex-shrink: 0;
  height: 230px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.carouselButtonIcon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.2s ease;
}

.carouselButtonIcon:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.buttonUp {
  top: 8px;
}

.buttonDown {
  bottom: 8px;
} */
